body {
    background-color: rgb(209, 240, 240);
}
img{ 
    width: 500px;
    margin-left: 400px;
}
p {
    margin-left: 400px;
}
h1{
    color: rgb(8, 8, 95);
    margin-left: 600px;
}
h2{
    color: blueviolet;
    margin-left: 500px;
}
a{
    color: black;
    margin-left: 400px;
}
ul{
    margin-left: 400px;
}
ol{
    margin-left: 400px;
}
h3{
    margin-left: 400px;
}